<div class="wrapper d-flex">
  <div class="row mb-5">
    <div class="col-12 col-lg-9 mx-lg-auto">
      <h2 class="h1 mb-4 animate__animated animate__fadeInUp visible">
        About Project
      </h2>
      <div
        class="divider bg-white mx-auto mb-0 animate__animated animate__fadeInUp visible"
      ></div>
    </div>
  </div>
  <div class="row1">
    <div class="tab-content animate__animated animate__fadeInUp visible">
      <div
        class="tab-panel animate__fade fade animate__active {{
          selected === 1 ? 'show' : ''
        }}"
      >
        <p>🎉 Welcome to GAMIFY platform!</p>
        <p>
          😍 It is an innovative project aimed at empowering youth work organisations in promoting local and international youth projects by merging non-formal learning and gaming elements.
        </p>
        <p>
          🤝 Gamify was initiated in 2025 with the support of VISEGRAD Foundation under the project "Gamifying Youth Work"!. It was run by organisations from Georgia, Ukraine, Poland, and Slovakia that co-created a digital gamification web platform and curricula aiming to transform youth work into a fun and educational gamified process.
        </p>
        <p>
          👉 Since 2026, the ☂️Umbrella (a network organisation) and 🏡  Gori Youth Center jointly continued the development of the 📲 platform and, within the 🇪🇺 Erasmus+ Capacity Building in the field of Youth (CBY) program (the project Gamify Rural Youth Work (<a
          href="https://gryw.netlify.app/" target="_blank">GRYW</a>)), carried out the Gamify 2.0 version that considers improved design, score saving, mobile app version, global leaderboard, agenda builder and many more. The new version will be realised in April 2026 and will be piloted in Armenia, Cyprus, Turkiye, Ukraine and Georgia by the consortium of GRYW.
        </p>
        <p>
          🌍 Partner organisations involved in the VISEGRAD project in 2025:
          <span class="items">
            <span
              >
              <img src="landing-images/ge.png" alt="">
              Gori Youth Center (GYC) (Georgia) – Project Coordinator -
              <a href="https://cutt.ly/Ne0MFONm" target="_blank">https://cutt.ly/Ne0MFONm</a>
              GYC is a youth centre initiated by Umbrella that units 5 youth
              centres around Georgia..
            </span
            >
            <span
              ><img src="landing-images/ua.png" alt="">

              Development and Initiative (Розвиток та Ініціатива) (Ukraine) -
              <a href="http://www.developmentngo.org.ua/" target="_blank"
                >www.developmentngo.org.ua</a
              ></span
            >
            <span
              ><img src="landing-images/pl.png" alt="">
              Sempre a Frente Foundation (Fundacja Sempre a Frente) (Poland) –
              <a href="https://sempre.org.pl/" target="_blank">www.sempre.org.pl</a></span
            >
            <span
              ><img src="landing-images/sk.png" alt="">
              ADEL Slovakia (Slovakia) –
              <a href="https://www.adelslovakia.org/" target="_blank">www.adelslovakia.org</a></span
            >
          </span>
        </p>
        <p>
          💰 The project is co-financed by the governments of Czechia, Hungary, Poland and Slovakia through Visegrad Grants from the International Visegrad Fund. The mission of the fund is to advance ideas for sustainable regional cooperation in Central Europe.
        </p>
        <p>
          🤩 Website of the foundation:
          <a href="https://visegradfund.org/" target="_blank"
            >https://www.visegradfund.org/</a
          >
        </p>
        <p>
          🔗 Stay connected for updates, activities, and outcomes of this exciting project as we plan to revolutionize youth work with gamified learning.
        </p>
        <hr class="my-4" />

        <p>
          Funded by the European Union. Views and opinions expressed are,
          however those of the author(s) only and do not necessarily reflect
          those of the European Union or EACEA. Neither the European Union nor
          the granting authority can be held responsible for them.
        </p>
        <div class="imgs">
          <div class="img">
            <img src="EU.png" style="height: 135px" />
          </div>
          <div class="img">
            <img src="vf.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
