<div class="heading">
  <h3>Invitations</h3>
</div>
<div class="course-info">
  <div class="content">
    <div class="heading">
      <div class="search">
        <p>{{ invitations.length + " " + "Invitations" }}</p>
        <div class="search-block">
          <i class="pi pi-search"></i>
          <input
            type="text"
            [(ngModel)]="searchText"
            placeholder="{{ 'Search' }}..."
            (input)="searchByName()"
          />
        </div>
      </div>
    </div>
    <div class="list">
      <div class="item" *ngFor="let item of filteredList">
        <div class="col">
          <label>{{ "Email" }}</label>
          <p>{{ item.email }}</p>
        </div>
        <div class="col">
          <label>{{ "Project" }}</label>
          <p>{{ item.project }}</p>
        </div>
        <div class="col">
          <label>{{ "Group" }}</label>
          <p>{{ item.group }}</p>
        </div>
        <div class="col">
          <label>{{ "Status" }}</label>
          <p [ngStyle]="{ color: item.accepted ? '#FFF' : '#FFF' }">
            {{ item.accepted ? "Active" : "Pending" }}
          </p>
        </div>
        <button (click)="accept(item.id)">Accept</button>
      </div>
    </div>
  </div>
</div>
