<div class="schedule-wrapper">
  <div class="schedule-content">
    <div class="left">
      <div class="paging-info">
        <div class="paging">
          <div class="icons">
            <svg
              (click)="handlePreviousMonth()"
              xmlns="http://www.w3.org/2000/svg"
              width="7"
              height="11"
              viewBox="0 0 7 11"
              fill="none"
            >
              <path
                d="M5.5 1.25L1 5.5L5.5 9.75"
                stroke="#605F65"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              (click)="handleNextMonth()"
              xmlns="http://www.w3.org/2000/svg"
              width="7"
              height="11"
              viewBox="0 0 7 11"
              fill="none"
            >
              <path
                d="M1.5 9.75L6 5.5L1.5 1.25"
                stroke="#605F65"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <p>{{ monthData.monthName }} {{ currentDate.getFullYear() }}</p>
        </div>
        <button (click)="createTask()">Create Task</button>
      </div>
      <div class="board">
        <div class="row week-days">
          <div class="week-day" *ngFor="let day of weekDays">
            <p>{{ day.shortName }}</p>
          </div>
        </div>
        <div class="weeks">
          <div class="days" *ngFor="let week of monthData.weeks; let i = index">
            <div
              class="day"
              *ngFor="let day of week.days"
              [ngClass]="{ active: isActive(day), today: isToday(day.date) }"
              (click)="handleSetDateInfo(day)"
            >
              <div class="day-num">
                <p class="day-number">{{ day.dayNumber }}</p>
              </div>
              <div class="komp tasks" *ngIf="day.tasks.length <= 2">
                <div class="task" *ngFor="let task of day.tasks">
                  <p>{{ task.name }}</p>
                </div>
              </div>

              <div class="komp tasks" *ngIf="day.tasks.length > 2">
                <div class="task" *ngFor="let task of day.tasks | slice: 0 : 2">
                  <p>{{ task.name }}</p>
                </div>
                <div class="task">
                  <p>+{{ day.tasks.length - 2 }} {{ "More" }}</p>
                </div>
              </div>

              <div class="mobile tasks" *ngIf="day.tasks.length === 1">
                <div class="task" *ngFor="let task of day.tasks">
                  <p>{{ task.name }}</p>
                </div>
              </div>

              <div class="mobile tasks" *ngIf="day.tasks.length > 1">
                <div class="task">
                  <p>{{ day.tasks.length }} {{ "Tasks" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="activities-back" [ngClass]="{ active: showActivities }">
      <div class="activities">
        <div class="heading">
          <div class="active-date">
            <p>{{ activeDateInfo.dateString.formattedDate }}</p>
            <p class="w-day">{{ activeDateInfo.dateString.dayOfWeek }}</p>
          </div>
          <div class="close" (click)="showActivities = false">
            <i class="pi pi-times"></i>
          </div>
        </div>
        <div class="items" *ngIf="activeDateInfo.tasks.length > 0">
          <div class="wrap" *ngFor="let task of activeDateInfo.tasks">
            <div class="block">
              <div class="info">
                <p class="name">{{ task.name }}</p>
                <div class="row1">
                  <p class="group">{{ task.description }}</p>
                  <p class="time">{{ task.time }}</p>
                </div>
              </div>
            </div>
            <div class="btns">
              <a class="join" style="cursor: pointer" (click)="getTasks(task)" target="_blank">{{
                "Click to join"
              }}</a>
            </div>
          </div>
        </div>
        <div class="empty" *ngIf="activeDateInfo.tasks.length === 0">
          <h3>{{ "You’ve got a free day today" }}</h3>
          <p>
            {{
              "Go ahead, take a nap, binge - watch a show, or enjoy some well - deserved freedom!"
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showMessage" class="toast">
  {{ "Copied to clipboard" }}
</div>
