<div class="wrapper">
  <div class="back">
    <img
      src="https://blobstudentportal.blob.core.windows.net/test/b8694e29-2e6a-49c2-9e72-05386bafca6744c875e537acd7d127c24cc4172a04f5%20%281%29.webp"
      alt=""
    />
  </div>
  <div class="info">
    <div class="star">
      <img
        src="https://blobstudentportal.blob.core.windows.net/test/bf3df75b-9ee4-4262-80c7-35d16a57a0a3285a82264cf08e1d399f9f11146c9ae5%20%281%29.webp"
        alt=""
      />
    </div>
    <p>Task completed</p>
    <button (click)="finishTask()">Home</button>
  </div>

</div>
