.wallpaper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .back {
    max-width: 689px;
    height: 227px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }
  .type-name {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 689px;
    width: 100%;
    @media (max-width: 769px) {
      flex-direction: column;
    }
    .name {
      p {
        color: #131313;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .type {
    width: 122px;
    height: 122px;
    flex-shrink: 0;
    border-radius: 12px;
    margin-top: -61px;
    margin-left: 50px;
    @media (max-width: 769px) {
      margin-left: 0px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }
  .desc {
    max-width: 565px;
    width: 100%;
    margin-top: 30px;
    p {
      color: #131313;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .image {
    @media (max-width: 769px) {
      width: 100%;
      display: flex;
      align-items: center;
    }
    img {
      max-width: 500px;
      width: 100%;
      object-fit: cover;
      @media (max-width: 769px) {
        max-width: 100%;
      }
    }
  }
  .btns {
    max-width: 560px;
    width: 100%;
  }
  button {
    display: flex;
    //max-width: 560px;
    width: 100%;
    height: 50px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #8577e6;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 769px) {
      width: 100%;
    }
    i {
      position: absolute;
      right: 25px;
      color: var(--text-color);
    }
  }
}
.items-wrapper {
  margin-top: 30px;
  max-width: 689px;
  width: 100%;
  margin-bottom: 30px;
  .items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .item {
      display: flex;
      /* width: 327px; */
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
      p {
        color: #131313;
        /* font-family: Poppins; */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .answers {
        display: flex;
        /* width: 327px; */
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        .answer {
          display: flex;
          padding: 10px 16px;
          align-items: center;
          gap: 11px;
          align-self: stretch;
          border-radius: 27px;
          border: 1px solid rgba(43, 43, 43, 0.34);
          min-width: 280px;
          cursor: pointer;
          &.correct{
            border: 1px solid #40C77B;
            background: #40c77b2b;
          }
          &.wrong{
            border: 1px solid #c74040;
            background: #c7404024;
          }
          .check {
            width: 17px;
            height: 17px;
            border-radius: 4px;
            background: #e7e7e7;
            .checked {
              width: 17px;
              height: 17px;
              border-radius: 4px;
              background: var(--primary-color);
            }
          }
          .name {
            p {
              color: #131313;
              /* font-family: Poppins; */
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
