<div class="wrapper d-flex">
  <div class="container align-self-center text-white">
    <div class="row mb-8 text-center heading">
      <div class="col-12 col-lg-9 mx-lg-auto">
        <h2 class="h1 mb-4 animate__animated animate__fadeInUp visible">
          Services
        </h2>
        <div
          class="divider bg-white mx-auto animate__animated animate__fadeInUp visible"
        ></div>
        <p class="mb-0 animate__animated animate__fadeInUp visible">
          Explore solutions tailored to streamline debt management, automate
          payments, and drive your business growth with ease.
        </p>
      </div>
    </div>
    <div class="row items">
      <div
        class="col-12 col-lg-4 mb-7 mb-lg-0 animate__animated animate__fadeInUp visible"
        style="animation-delay: 0.4s"
      >
        <div class="icon-7x text-primary mb-4">
          <img src="landing-images/timer.svg" alt="" />
        </div>
        <h4 class="h5 mb-2">Quick Setup</h4>
        <p class="mb-0">
          Start managing your payments and debts with ease. Collecta’s simple
          onboarding process gets you up and running in no time.
        </p>
      </div>

      <div
        class="col-12 col-lg-4 mb-7 mb-lg-0 animate__animated animate__fadeInUp visible"
        style="animation-delay: 0.6s"
      >
        <div class="icon-7x text-primary mb-4">
          <img src="landing-images/brush.svg" alt="" />
        </div>
        <h4 class="h5 mb-2">Intuitive Design</h4>
        <p class="mb-0">
          A clean and user-friendly interface ensures effortless navigation,
          making payment tracking and debt collection stress-free.
        </p>
      </div>

      <div
        class="col-12 col-lg-4 animate__animated animate__fadeInUp visible"
        style="animation-delay: 0.8s"
      >
        <div class="icon-7x text-primary mb-4">
          <img src="landing-images/book.svg" alt="" />
        </div>
        <h4 class="h5 mb-2">End-to-End Support</h4>
        <p class="mb-0">
          We provide detailed guidance and dedicated assistance to help you
          streamline operations and grow your business.
        </p>
      </div>
    </div>
  </div>
</div>
