<div class="wrapper">
  <div class="container align-self-center text-white">
    <div class="row mb-8 text-center">
      <div class="col-12 col-lg-9 mx-lg-auto">
        <h2 class="h1 mb-4 animate__animated animate__fadeInUp visible">
          Subscribe to Stay Updated
        </h2>
        <div class="divider bg-white mx-auto animate__animated animate__fadeInUp visible"></div>
        <p class="mb-0 animate__animated animate__fadeInUp visible">
          Stay ahead with the latest updates, insights, and tips to simplify
          debt collection and grow your business. Join our community today!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6 mx-lg-auto">
        <div class="subscribe-form animate__animated animate__fadeInUp visible">
          <div class="form form-row">
            <div class="inp col-12 col-md-9">
              <input type="text" placeholder="Enter Your Email Address" [(ngModel)]="email" />
            </div>
            <button class="btn btn-soft-white btn-block" (click)="subscribe()">Notify me</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
