<div class="wrapper">
  <div class="inputs">
    <div class="row1">
      <div class="input-item">
        <label>Start date</label>
        <p-datepicker
          [(ngModel)]="startDate"
          [showTime]="true"
          [ngClass]="{
            invalid: !startDate && isSubmitted,
          }"
        />
      </div>
      <div class="input-item">
        <label>End date</label>
        <p-datepicker
          [(ngModel)]="endDate"
          [showTime]="true"
          [ngClass]="{
            invalid: !endDate && isSubmitted,
          }"
        />
      </div>
    </div>
    <div class="row1">
      <div class="input-item">
        <label for="name">{{ "Name" }}</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="request.name"
          [ngClass]="{
            invalid: !request.name && isSubmitted,
          }"
        />
      </div>
      <div class="input-item">
        <label for="implementationType">{{ "Implementation type" }}</label>
        <p-dropdown
          [style]="{ width: '100%', height: '40px' }"
          [options]="types"
          optionLabel="name"
          optionValue="value"
          [(ngModel)]="request.type"
          [ngClass]="{
            invalid: !request.type && isSubmitted,
          }"
          id="implementationType"
        ></p-dropdown>
      </div>
    </div>
    <div class="row1">
      <div class="input-item">
        <label for="group">{{ "Groups" }}</label>
        <p-dropdown
          [style]="{ width: '100%', height: '40px' }"
          [options]="groups"
          optionLabel="name"
          optionValue="id"
          [(ngModel)]="request.groupId"
          id="group"
        ></p-dropdown>
      </div>
      <div class="input-item" *ngIf="request.type === 3">
        <label for="quiz">{{ "Quizzes" }}</label>
        <p-dropdown
          [style]="{ width: '100%', height: '40px' }"
          [options]="quizzes"
          optionLabel="name"
          optionValue="id"
          [(ngModel)]="request.source"
          [ngClass]="{
            invalid: (request.type === 3 && !request.source) && isSubmitted,
          }"
          id="quiz"
        ></p-dropdown>
      </div>
    </div>
    <div class="row1" *ngIf="request.type === 1 || request.type === 3">
<!--      expectedPoints-->
      <div class="input-item">
        <label for="expectedPoints">{{ "Expected Points" }}</label>
        <input
          type="number"
          id="expectedPoints"
          [(ngModel)]="request.expectedPoints"
          [ngClass]="{
            invalid: !request.expectedPoints && isSubmitted,
          }"
        />
      </div>
    </div>
    <div class="row1">
      <div class="input-item">
        <label>Description</label>
        <textarea
          [(ngModel)]="request.description"
          [ngClass]="{
            invalid: !request.description && isSubmitted,
          }"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="btns">
    <button (click)="ref.close()">{{ "Cancel" }}</button>
    <button class="save" (click)="save()" [disabled]="isSubmitted">{{ "Save" }}</button>
  </div>
</div>
