<div class="wrapper">
  <form class="inputs">
    <div class="input-item">
      <label for="email">{{ "Email" }}</label>
      <input type="email" id="email" [(ngModel)]="request.name" />
    </div>
    <div class="input-item">
<!--      <label for="implementationType">{{ "Implementation type" }}</label>-->
<!--      <p-dropdown-->
<!--        [style]="{ width: '100%', height: '40px' }"-->
<!--        [options]="implementationTypes"-->
<!--        optionLabel="name"-->
<!--        optionValue="value"-->
<!--        [(ngModel)]="request.implementationType"-->
<!--        id="implementationType"-->
<!--      ></p-dropdown>-->
    </div>
  </form>
  <div class="btns">
    <button (click)="ref.close()">{{ "Cancel" }}</button>
    <button class="save" (click)="save()">{{ "Save" }}</button>
  </div>
</div>
