<div class="wrapper d-flex">
  <div class="row mb-5">
    <div class="col-12 col-lg-9 mx-lg-auto">
      <h2 class="h1 mb-4 animate__animated animate__fadeInUp visible">
        🎮 Coming Soon: Gamifying Youth Work!
      </h2>
      <div
        class="divider bg-white mx-auto mb-0 animate__animated animate__fadeInUp visible"
      ></div>
    </div>
  </div>
  <div class="row1">
    <div class="tab-content animate__animated animate__fadeInUp visible">
      <div
        class="tab-panel animate__fade fade animate__active {{
          selected === 1 ? 'show' : ''
        }}"
      >
        <p>Get ready for a groundbreaking platform combining gaming and education to transform youth engagement. 🚀</p>
        <p>Stay tuned – the adventure begins soon!</p>
      </div>
    </div>
    <div class="btns">
      <button class="btn btn-primary mr-3 scrollto animate__animated animate__fadeInUp visible btn1" routerLink="/auth">Try it out</button>
<!--      <button class="btn btn-soft-white scrollto animate__animated animate__fadeInUp visible" routerLink="/auth">Login</button>-->
    </div>
  </div>

</div>
