<div class="sign-up-wrapper">
  <div class="heading">
    <h3>Profile</h3>
  </div>
  <div class="form-side">
    <div class="form-content">
      <div class="expanders">
        <form
          [formGroup]="requestForm"
          (submit)="Action()"
          class="item expander-container"
        >
          <div class="profile-image">
            <img
              *ngIf="request.image.fileUrl"
              [src]="request.image.fileUrl"
              alt=""
            />
            <img
              *ngIf="!request.image.fileUrl"
              src="https://blobstudentportal.blob.core.windows.net/test/47549ab2-a124-44fc-b455-538206ee179biconamoon_profile-light.webp"
              alt=""
            />
            <button type="button" (click)="openAvatars()">Change</button>
          </div>
          <div class="inputs">
            <div class="row1">
              <div class="input-item">
                <label for="firstName">{{ "First name" }}</label>
                <input
                  type="text"
                  formControlName="firstName"
                  [(ngModel)]="request.firstName"
                  id="firstName"
                  [class.invalid]="validateField('firstName')"
                />
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="lastName">{{ "Last name" }}</label>
                <input
                  type="text"
                  formControlName="lastName"
                  [(ngModel)]="request.lastName"
                  id="lastName"
                  [class.invalid]="validateField('lastName')"
                />
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="email">{{ "Email" }}</label>
                <input
                  type="text"
                  formControlName="email"
                  [(ngModel)]="request.email"
                  id="email"
                  [class.invalid]="validateField('email')"
                />
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="password">{{ "Password" }}</label>
                <div class="block">
                  <input
                    [type]="passVisible ? 'text' : 'password'"
                    id="password"
                    [(ngModel)]="request.password"
                    formControlName="password"
                  />
                  <span>
                    <i
                      *ngIf="!passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="repeatPass">{{ "Repeat Password" }}</label>
                <div class="block">
                  <input
                    [type]="repeatPassVisible ? 'text' : 'password'"
                    id="repeatPass"
                    formControlName="repeatPass"
                    [(ngModel)]="request.repeatPassword"
                  />
                  <span>
                    <i
                      *ngIf="!repeatPassVisible"
                      (click)="repeatPassVisible = !repeatPassVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="repeatPassVisible"
                      (click)="repeatPassVisible = !repeatPassVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="button">
              <button>
                {{ "Update"
                }}<i class="pi pi-spin pi-spinner" *ngIf="signinLoading"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
