<div class="wrapper">
  <div class="content">
    <div class="image">
      <img *ngIf="request.image" [src]="request.image.fileUrl" alt="" />
      <img  *ngIf="!request.image"  src="https://blobstudentportal.blob.core.windows.net/test/cf5e62f9-a817-4aa6-b2f6-f6f987c8187bimage%2026.png" alt="">
    </div>
    <div class="rows">
      <div class="row1">
        <div class="input-item">
          <label>Name</label>
          <p>{{ request.name }}</p>
        </div>
        <div class="input-item">
          <label>Description</label>
          <p>{{ request.description }}</p>
        </div>
        <div class="input-item">
          <label>Organization</label>
          <p>{{ request.organization }}</p>
        </div>
      </div>
      <div class="row1">
        <div class="input-item">
          <label>Reward Rules</label>
          <p>{{ request.rewardRules }}</p>
        </div>
        <div class="input-item">
          <label>Start date</label>
          <p>{{ request.startDate | date: "MMM dd, yyyy" }}</p>
        </div>
        <div class="input-item">
          <label>End date</label>
          <p>{{ request.endDate | date: "MMM dd, yyyy" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
