<div class="wrapper">
  <app-upsert-heading
    [name]="'Projects'"
    [showSave]="false"
  ></app-upsert-heading>
  <div class="content">
    <div class="image">
      <img [src]="request.image.fileUrl" alt="" />
    </div>
    <div class="rows">
      <div class="row">
        <div class="input-item">
          <label>Name</label>
          <p>{{ request.name }}</p>
        </div>
        <div class="input-item">
          <label>Description</label>
          <p>{{ request.description }}</p>
        </div>
        <div class="input-item">
          <label>Organization</label>
          <p>{{ request.organization }}</p>
        </div>
      </div>
      <div class="row">
        <div class="input-item">
          <label>Reward Rules</label>
          <p>{{ request.rewardRules }}</p>
        </div>
        <div class="input-item">
          <label>Start date</label>
          <p>{{ request.startDate | date: "MMM dd, yyyy" }}</p>
        </div>
        <div class="input-item">
          <label>End date</label>
          <p>{{ request.endDate | date: "MMM dd, yyyy" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
