<div class="main-wrapper">
  <app-quest-header></app-quest-header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-quest-footer></app-quest-footer>


  <img
    src="https://umbrellayouth.org/assets/icons/home/Polygon.png"
    class="pollygon1 absolute-element"
  />
  <img
    src="https://umbrellayouth.org/assets/icons/home/Polygon.png"
    class="pollygon2 absolute-element"
  />
  <img
    src="https://umbrellayouth.org/assets/icons/home/pink%20confetti.png"
    class="pink-confetti absolute-element"
  />
  <img
    src="https://umbrellayouth.org/assets/icons/home/yellow%20wave.png"
    class="yellow-confetti absolute-element"
  />

  <img
    src="https://umbrellayouth.org/assets/icons/home/ellipse.png"
    class="ellipse absolute-element"
  />
  <img
    src="https://umbrellayouth.org/assets/icons/home/rockets.png"
    class="rocket absolute-element"
  />

  <img
    src="https://umbrellayouth.org/assets/icons/home/blue%20star.png"
    class="blue-star absolute-element"
  />
</div>
<div class="gradient-background"></div>

<div class="overlay-inner bg-dark opacity-80"></div>

