<div class="sign-up-wrapper">
  <div class="form-side">
    <a routerLink="/" class="logo">
      <img src="logo.svg" alt="" />
    </a>
    <div class="form-content">
      <div class="expanders">
        <form
          [formGroup]="requestForm"
          (submit)="Action()"
          class="item expander-container"
        >
          <div class="heading">
            <p>{{ "Account" }}</p>
          </div>
          <div class="inputs">
            <div class="row1">
              <div class="input-item">
                <label for="email">{{ "Email" }}</label>
                <input
                  type="text"
                  formControlName="email"
                  [(ngModel)]="request.email"
                  id="email"
                  [class.invalid]="validateField('email')"
                />
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="password">{{ "Password" }}</label>
                <div class="block">
                  <input
                    [type]="passVisible ? 'text' : 'password'"
                    id="password"
                    [(ngModel)]="request.password"
                    formControlName="password"
                    [class.invalid]="
                      requestForm.get('password')?.hasError('pattern') ||
                      (!requestForm.get('password')?.value && isSubmitted)
                    "
                  />
                  <span>
                    <i
                      *ngIf="!passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="repeatPass">{{ "Repeat Password" }}</label>
                <div class="block">
                  <input
                    [type]="repeatPassVisible ? 'text' : 'password'"
                    id="repeatPass"
                    formControlName="repeatPass"
                    [(ngModel)]="request.repeatPassword"
                    [class.invalid]="
                      requestForm.get('repeatPass')?.hasError('pattern') ||
                      (!requestForm.get('repeatPass')?.value && isSubmitted) ||
                      (requestForm.get('password')?.value !==
                        requestForm.get('repeatPass')?.value &&
                        isSubmitted)
                    "
                  />
                  <span>
                    <i
                      *ngIf="!repeatPassVisible"
                      (click)="repeatPassVisible = !repeatPassVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="repeatPassVisible"
                      (click)="repeatPassVisible = !repeatPassVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="button">
              <button>
                {{ "Sign Up"
                }}<i class="pi pi-spin pi-spinner" *ngIf="signinLoading"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="image-side">
    <!--    <img-->
    <!--      src="https://blobstudentportal.blob.core.windows.net/test/88f36c7c-3fa0-4bcf-99fc-ebc34fc9ee67image%2053%20%281%29.webp"-->
    <!--      alt=""-->
    <!--    />-->
    <img
      src="https://blobstudentportal.blob.core.windows.net/test/90999456-d878-4cd8-b891-7129d35b94feimage%20%288%29%20%281%29.webp"
      alt=""
    />
  </div>
</div>
