<div class="wrapper d-flex">
  <div class="container align-self-center text-white text-center">
    <h1 class="mb-4 animate__animated animate__fadeInUp visible">Let's make the learning process in youth work more fun and engaging!</h1>
    <p class="mb-7 animate__animated animate__fadeInUp visible">Let's gamify please sign up for the tool here</p>
    <div class="btns">
      <button class="btn btn-primary mr-3 scrollto animate__animated animate__fadeInUp visible btn1" routerLink="/about">Learn more</button>
      <button class="btn btn-soft-white scrollto animate__animated animate__fadeInUp visible" routerLink="/subscribe">Subscribe</button>
    </div>
  </div>
</div>
<!--animate__animated animate__fadeInUp-->
