<div class="wrapper d-flex">
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-12 col-lg-9 mx-lg-auto">-->
  <!--      <h2 class="h1 mb-4 animate__animated animate__fadeInUp visible">-->
  <!--        🎮 Gamify Youth Work Tool-->
  <!--      </h2>-->
  <!--      <div-->
  <!--        class="divider bg-white mx-auto mb-0 animate__animated animate__fadeInUp visible"-->
  <!--      ></div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="row1">
    <div class="tab-content animate__animated animate__fadeInUp visible">
      <div>
        <p>
          <strong>Gamify Youth Work</strong> is a digital platform designed to
          turn non-formal education into an interactive, engaging experience by
          integrating game mechanisms into educational settings. Built for youth
          workers, educators, and organisations who want to move beyond ordinary
          workshops and into dynamic learning journeys.
        </p>

        <h5 class="mt-4">🚀 What You Can Do Here:</h5>
        <ul>
          <li>
            Create and run youth projects with gamified learning experiences
          </li>
          <li>Engage young people through challenges, points, and missions</li>
          <li>Strengthen teamwork and participation</li>
          <li>Adapt activities to international or grassroots contexts</li>
        </ul>

        <p class="mt-3">
          This is not just a tool. It’s a framework for making youth work more
          interactive, measurable, and motivating.
        </p>

        <h5 class="mt-4">🌍 Why It Matters:</h5>
        <p>
          Young people live in a digital world. Youth work needs to meet them
          there without losing its values.
        </p>

        <p>
          <strong>Gamify Youth Work</strong> bridges digital tools and
          non-formal education methodology, making learning active, inclusive,
          and accessible.
        </p>

        <h5 class="mt-4">👉 Ready to Start?</h5>
        <p>
          You need to first create your organisation's account and add as many
          projects as you want! You can assign youth workers from your
          organisation to each project, invite participants via their email,
          create customised tasks — performances, quizzes, voting, attendance,
          leaderboard and more.
        </p>

        <hr class="my-4" />

        <p>
          The website is created under the project “Gamifying Youth Work”. The
          project is co-financed by the governments of Czechia, Hungary, Poland
          and Slovakia through Visegrad Grants from the International Visegrad
          Fund.
        </p>

        <p>
          The mission of the fund is to advance ideas for sustainable regional
          cooperation in Central Europe.
        </p>
        <hr class="my-4" />

        <p>
          Funded by the European Union. Views and opinions expressed are,
          however those of the author(s) only and do not necessarily reflect
          those of the European Union or EACEA. Neither the European Union nor
          the granting authority can be held responsible for them.
        </p>
        <div class="imgs">
          <div class="img">
            <img src="EU.png" style="height: 135px" />
          </div>
          <div class="img">
            <img src="vf.svg" />
          </div>
        </div>
      </div>
    </div>

    <!--    <div class="btns">-->
    <!--      <button-->
    <!--        class="btn btn-primary mr-3 scrollto animate__animated animate__fadeInUp visible btn1"-->
    <!--        routerLink="/auth"-->
    <!--      >-->
    <!--        Create Organisation Account-->
    <!--      </button>-->
    <!--    </div>-->
  </div>
</div>
