<header class="header-wrapper">
  <div class="logo">
    <img src="logo.svg" alt="logo" routerLink="home" style="cursor: pointer">
    <!--    <p>COLLECTA</p>-->
  </div>
  <nav class="navigation">
    <a routerLink="home" [routerLinkActive]="['active']">Home</a>
    <a routerLink="subscribe" [routerLinkActive]="['active']">Subscribe</a>
    <a routerLink="about" [routerLinkActive]="['active']">About Us</a>
    <a routerLink="tool" [routerLinkActive]="['active']">Tool</a>
    <a routerLink="contact" [routerLinkActive]="['active']">Contact Us</a>
    <a routerLink="auth" [routerLinkActive]="['active']">Login</a>
  </nav>
  <div class="menu-button w-nav-button" (click)="toggleMenu()" >
    <div class="icon-menu w-icon-nav-menu"><i class="pi pi-bars"></i></div>
  </div>
  <div class="nav-overlay-mobile"  [@menuExpand]="isOpen ? 'open' : 'closed'" >
    <nav class="myNav navigation">
      <a routerLink="home" (click)="isOpen = false" [routerLinkActive]="['active']">Home</a>
      <a routerLink="subscribe" (click)="isOpen = false" [routerLinkActive]="['active']">Subscribe</a>
      <a routerLink="about" (click)="isOpen = false" [routerLinkActive]="['active']">About Us</a>
      <a routerLink="tool" (click)="isOpen = false" [routerLinkActive]="['active']">Tool</a>
      <a routerLink="contact" (click)="isOpen = false" [routerLinkActive]="['active']">Contact Us</a>
    </nav>
  </div>
</header>
