<div class="sign-up-wrapper">
  <div class="form-side">
    <a routerLink="/" class="logo">
      <img src="logo.svg" alt="" />
    </a>
    <div class="form-content">
      <div class="expanders">
        <form
          *ngIf="!showMainForm"
          [formGroup]="requestForm"
          (submit)="sendCode()"
          class="item expander-container"
        >
          <div class="heading">
            <div class="tabs" >
              <a class="tab-item" (click)="selectedTab=1;" [ngClass]="{'selected':selectedTab===1}">
                <p>{{ "Participant" }}</p>
              </a>
              <a class="tab-item" (click)="selectedTab=2" [ngClass]="{'selected':selectedTab===2}">
                <p>{{ "Worker" }}</p>
              </a>
              <a class="tab-item" (click)="selectedTab=3" [ngClass]="{'selected':selectedTab===3}">
                <p>{{ "Organization" }}</p>
              </a>
            </div>
          </div>
          <div class="inputs">
            <div class="row1">
              <div class="input-item">
                <label for="email">{{ "Email" }}</label>
                <input
                  type="text"
                  formControlName="email"
                  [(ngModel)]="request.email"
                  id="email"
                  [class.invalid]="validateFirstField('email')"
                />
              </div>
            </div>
            <div class="button">
              <button>
                {{ "Verify"
                }}<i class="pi pi-spin pi-spinner" *ngIf="emailLoading"></i>
              </button>
            </div>
          </div>
        </form>
        <form
          *ngIf="showMainForm"
          [formGroup]="mainForm"
          (submit)="save()"
          class="item expander-container"
        >
          <div class="heading">
            <p>{{ "Account" }}</p>
          </div>
          <div class="inputs">
            <div class="row1">
              <div class="input-item">
                <label for="email1">{{ "Email" }}</label>
                <input
                  type="text"
                  formControlName="email"
                  [(ngModel)]="request.email"
                  id="email1"
                  [class.invalid]="validateField('email')"
                />
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="code">{{ "OTP Code" }}</label>
                <input
                  type="number"
                  formControlName="code"
                  [(ngModel)]="request.otpCode"
                  id="code"
                  [class.invalid]="validateField('code')"
                />
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="password">{{ "Password" }}</label>
                <div class="block">
                  <input
                    [type]="passVisible ? 'text' : 'password'"
                    id="password"
                    [(ngModel)]="request.password"
                    formControlName="password"
                    [class.invalid]="
                      mainForm.get('password')?.hasError('pattern') ||
                      (!mainForm.get('password')?.value && isSubmitted)
                    "
                  />
                  <span>
                    <i
                      *ngIf="!passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="repeatPass">{{ "Repeat Password" }}</label>
                <div class="block">
                  <input
                    [type]="repeatPassVisible ? 'text' : 'password'"
                    id="repeatPass"
                    formControlName="repeatPass"
                    [(ngModel)]="request.repeatPass"
                    [class.invalid]="
                      mainForm.get('repeatPass')?.hasError('pattern') ||
                      (!mainForm.get('repeatPass')?.value && isSubmitted) ||
                      (mainForm.get('password')?.value !==
                        mainForm.get('repeatPass')?.value &&
                        isSubmitted)
                    "
                  />
                  <span>
                    <i
                      *ngIf="!repeatPassVisible"
                      (click)="repeatPassVisible = !repeatPassVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="repeatPassVisible"
                      (click)="repeatPassVisible = !repeatPassVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="button">
              <button>
                {{ "Recover"
                }}<i class="pi pi-spin pi-spinner" *ngIf="recoverLoading"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="image-side">
    <img
      src="https://blobstudentportal.blob.core.windows.net/test/90999456-d878-4cd8-b891-7129d35b94feimage%20%288%29%20%281%29.webp"
      alt=""
    />
  </div>
</div>
