<div class="sign-up-wrapper">
  <div class="form-side">
    <a routerLink="/" class="logo">
      <img src="logo.svg" alt="" />
    </a>
    <div class="form-content">
      <div class="expanders">
        <form
          [formGroup]="requestForm"
          (submit)="Action()"
          class="item expander-container"
        >
          <div class="heading">
            <p>{{ "Account" }}</p>
          </div>
          <div class="inputs">
            <div class="row1">
              <div class="input-item">
                <label for="username">{{ "Username" }}</label>
                <input
                  type="text"
                  formControlName="username"
                  id="username"
                  [class.invalid]="validateField('username')"
                />
              </div>
            </div>
            <div class="row1">
              <div class="input-item">
                <label for="password">{{ "Password" }}</label>
                <div class="block">
                  <input
                    [type]="passVisible ? 'text' : 'password'"
                    id="password"
                    formControlName="password"
                    [class.invalid]="validateField('password')"
                  />
                  <span>
                    <i
                      *ngIf="!passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row1 forgot">
              <div class="remember">
                <input
                  type="checkbox"
                  id="rememberMe"
                  name="rememberMe"
                  formControlName="remember"
                />
                <label for="rememberMe">{{ "Remember me" }}</label>
              </div>
              <a routerLink="/forgot">Forgot password ?</a>
            </div>
            <button>
              {{ "Login"
              }}<i class="pi pi-spin pi-spinner" *ngIf="signinLoading"></i>
            </button>
            <button
              style="margin-top: -10px"
              type="button"
              routerLink="/org-sign-up"
            >
              {{ "Sign Up as an Organization" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="image-side">
    <!--    <img-->
    <!--      src="https://blobstudentportal.blob.core.windows.net/test/88f36c7c-3fa0-4bcf-99fc-ebc34fc9ee67image%2053%20%281%29.webp"-->
    <!--      alt=""-->
    <!--    />-->
    <img
      src="https://blobstudentportal.blob.core.windows.net/test/90999456-d878-4cd8-b891-7129d35b94feimage%20%288%29%20%281%29.webp"
      alt=""
    />
  </div>
</div>
